<ion-view title="Adding" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="adding-form3" class="list">
      <label class="item item-input" id="adding-textarea2">
        <span class="input-label">Add Name</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="adding-textarea3">
        <span class="input-label">Add Number</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="adding-button-bar5" class="button-bar">
      <button id="adding-button28" class="button button-dark button-block">1</button>
      <button id="adding-button29" class="button button-dark button-block">2</button>
      <button id="adding-button30" class="button button-dark button-block">3</button>
    </div>
    <div id="adding-button-bar6" class="button-bar">
      <button id="adding-button31" class="button button-dark button-block">4</button>
      <button id="adding-button32" class="button button-dark button-block">5</button>
      <button id="adding-button33" class="button button-dark button-block">6</button>
    </div>
    <div id="adding-button-bar7" class="button-bar">
      <button id="adding-button34" class="button button-dark button-block">7</button>
      <button id="adding-button35" class="button button-dark button-block">8</button>
      <button id="adding-button36" class="button button-dark button-block">9</button>
    </div>
    <div id="adding-button-bar8" class="button-bar">
      <button id="adding-button37" class="button button-dark button-block">*</button>
      <button id="adding-button38" class="button button-dark button-block">0</button>
      <button id="adding-button39" class="button button-dark button-block">#</button>
    </div>
  </ion-content>
</ion-view>