<ion-view title="Apple" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="apple-list3">
      <ion-item class="item-avatar" id="apple-list-item10">
        <h2>Apple</h2>
      </ion-item>
      <ion-item id="apple-list-item11">0987654321</ion-item>
    </ion-list>
    <div id="apple-button-bar2" class="button-bar">
      <button id="apple-button10" class="button button-positive button-block">Call</button>
      <button id="apple-button11" class="button button-balanced button-block">Message</button>
    </div>
  </ion-content>
</ion-view>