<ion-view title="Banana" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="banana-list4">
      <ion-item class="item-avatar" id="banana-list-item12">
        <h2>Banana</h2>
      </ion-item>
      <ion-item id="banana-list-item13">0987654321</ion-item>
    </ion-list>
    <div id="banana-button-bar3" class="button-bar">
      <button id="banana-button16" class="button button-positive button-block">Call</button>
      <button id="banana-button17" class="button button-balanced button-block">Message</button>
    </div>
  </ion-content>
</ion-view>