<ion-view title="Contacts" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="contacts-heading1" style="color:#000000;font-weight:400;text-align:center;">Contacts</h1>
    <div id="contacts-button-bar1" class="button-bar">
      <a ui-sref="adding()" id="contacts-button4" class="button button-positive button-block">Add</a>
      <button id="contacts-button5" class="button button-assertive button-block">Delete</button>
    </div>
    <ion-list id="contacts-list2">
      <ion-item class="item-avatar" id="contacts-list-item7" ui-sref="apple()">
        <h2>Apple</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item8" ui-sref="banana()">
        <h2>Banana</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item9" ui-sref="carrots()">
        <h2>Carrots</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>